@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/mixins";

$accordion-icon-active-color: #FA5959;
$accordion-icon-color: #5265E1;

$accordion-button-active-bg: white;

$navbar-toggler-icon-border: none;

@import "./node_modules/bootstrap/scss/variables";

$custom-colors: (
    "primary": #5265E1,
    "dark-primary": #282c4d,
    "secondary": #FA5959,
    "white": #ffffff,
    "title":#212435,
    "par":#a3a3a3,
    "light":#e6e6e67a,
);

$position-values: (
    0: 0,
    10: 10%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    65: 65%,
    70: 70%,
    75: 75%,
    80: 80%,
    95: 95%,
    100: 100%,
    110: 110%
);

$custom-sizes: (
    0: 0,
    15: 15%,
    25: 25%,
    30: 30%,
    35: 35%,
    40: 40%,
    45: 45%,
    50: 50%,
    55: 55%,
    60: 60%,
    75: 75%,
    85: 85%,
    100: 100%,
    img-y: 416px
);

$utilities: (
    "size-width": (property: width,
        class: w,
        values: $custom-sizes ),
    "size-height": (property: height,
        class: h,
        values: $custom-sizes ),
);

.opacity-95 {
    opacity: 0.95;
}

.logo {
    filter: brightness(100) contrast(100);
}

.wrap-img {
    height: 300px;
    display: flex;
    justify-content: flex-start;
}

.tab-img {
    height: 100%;
    width: auto;
}

.custom-tabs hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #212435;
}

.nav-tabs .nav-link.active {
    border: none;
}

.custom-tabs .nav-link {
    border: none !important; // removes hover border
    position: relative; // pos relative for underline
    color: #212435; // txt color
}

.custom-tabs .nav-link:hover {
    // red text on hover
    color: #FA5959 !important;
}

.custom-tabs .nav-link.active::after {
    //red underline
    content: "";
    border: none !important;
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 60%;
    height: 2px;
    background-color: #FA5959;
}

.navbar-toggler {
    //removes burger button border
    border: none !important;
    outline: none !important;
}

#navbarToggle {
    //navbar menu bg mobile
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
}

.card {
    border: none !important;
}

.btn-secondary:hover {
    color: #FA5959 !important;
    background-color: white !important;
    border-color: #FA5959 !important;
    border-width: 1px !important;
}

.btn-primary:hover {
    color: #5265E1 !important;
    background-color: white !important;
    border-color: #5265E1 !important;
    border-width: 1px !important;
}

.btn-light:hover {
    color: #747474 !important;
    background-color: white !important;
    border-color: #747474 !important;
    border-width: 1px !important;
}

.nav-link:hover {
    color: #FA5959 !important;
}

.accordion-button:hover {
    color: #FA5959 !important;
}

$theme-colors: map-merge($theme-colors, $custom-colors);

// DESKTOP
@media (min-width: 768px) {
    .nav-tabs .nav-link.active {
        border: none;
    }

    .custom-tabs .nav-link {
        border: none !important; // removes hover border
        position: relative; // pos relative for underline
        color: #212435; // txt color
    }

    .custom-tabs .nav-link:hover {
        // red text on hover
        color: #FA5959 !important;
    }

    .custom-tabs .nav-link.active::after {
        //red underline
        content: "";
        border: none !important;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #FA5959;
    }
}

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap/scss/utilities";