@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

$custom-colors: (
    "primary": #5265E1,
    "secondary": #FA5959,
    "title":#212435,
    "par":#a3a3a3,
);

$position-values: (
    0: 0,
    10: 10%,
    15: 15%,
    20: 20%,
    25: 25%,
    30: 30%,
    40: 40%,
    50: 50%,
    60: 60%,
    65: 65%,
    70: 70%,
    75: 75%,
    80: 80%,
    95: 95%,
    100: 100%,
    110: 110%
);

$custom-sizes: (
    0: 0,
    15: 15%,
    25: 25%,
    35: 35%,
    30: 30%,
    40: 40%,
    45: 45%,
    50: 50%,
    55: 55%,
    60: 60%,
    75: 75%,
    100: 100%,
    img-y: 416px
);

$utilities: (
    "size-width": (property: width,
        class: w,
        values: $custom-sizes ),
    "size-height": (property: height,
        class: h,
        values: $custom-sizes )
);

.wrap-img {
    height: 300px;
    display: flex;
    justify-content: flex-start;
}

.tab-img {
    height: 100%;
    width: auto;
}

.nav-tabs .nav-link.active {
    border: none;
}

.custom-tabs .nav-link {
    border: none !important;
    position: relative;
    color: #212435;
}

.custom-tabs .nav-link:hover {
    color: #FA5959 !important;
}

.custom-tabs .nav-link.active {
    border: none;
    color: #FA5959;
}

.custom-tabs .nav-link.active::after {
    content: "";
    border: none !important;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FA5959;
}




$theme-colors: map-merge($theme-colors, $custom-colors);

@import "./node_modules/bootstrap/scss/bootstrap";
@import "./node_modules/bootstrap/scss/utilities";